.shop {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    padding: 5rem;
}

.productCard {
    width: 20rem;
    height: 30rem;
}

.productImage {
    height: 20rem;
    width: auto;
    margin-bottom: 1rem;
    justify-self: center;
}

.productText {
    justify-self: center;
}

.productTitle,
.productPrice {
    justify-self: center;
    text-align: center;
}

@media(max-width: 766px) { 
    /* Phone Screens */
    .shop {
        padding: 1rem;
    }
}