.shopButton {
    background-color: aquamarine;
    border: none;
    border-radius: 100px;
    padding: 0.5rem 2rem;
    position: absolute;
    right: 15rem;
    top: 15rem;
}

.shopButtonLink {
    text-decoration: none;
    color: white;
    font-family: "Fredoka";
    font-weight: 700;
    font-size: 3rem;
}

@media(max-width: 769px) {
    .shopButton {
        border-radius: 40px;
        left: 50%;
        transform: translateX(-50%);
        top: 12rem;
        width: 15rem;
        padding: 0rem 2rem;
    }
    .shopButtonLink {
        font-size: 2.5rem;
    }
}

@media(min-width: 430px) and (max-width: 768px) {
    .shopButton {
        top: 13rem;
        width: 15rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .shopButton {
        top: 14rem;
        right: 12rem;
    }
}


@media(min-width: 769px) and (max-width: 820px) {
    .shopButton {
        top: 10rem;
        width: 10rem;
    }
}