.shopButton {
    background-color: aquamarine;
    border: none;
    border-radius: 100px;
    padding: 0.5rem 2rem;
    position: absolute;
    right: 17rem;
    top: 24rem;
}

.shopButtonLink {
    text-decoration: none;
    color: white;
    font-family: "Fredoka";
    font-weight: 700;
    font-size: 3rem;
}

@media(max-width: 768px) {
    .shopButton {
        border-radius: 40px;
        right: 5rem;
        top: 18.5rem;
        padding: 0rem 2rem;
    }
    .shopButtonLink {
        font-size: 2.5rem;
    }
}